.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 20px;

}
.Hero1{
   
    padding-left: 50px;
   
}
.section h1{
   padding-bottom: 10px;
   font-weight: 800;
   color: #05375B;
   font-size: 40px;

}
.section p{
    padding-top: 10px;
    font-weight: 400;
    color: #95A0A8

}
.section2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.section2 h1{
    padding-bottom: 10px;
    font-weight: 800;
    color: #05375B;
    font-size: 40px;
 
 }
 .section2 p{
     padding-top: 30px;
     font-weight: 400;
     color: #95A0A8;
     padding-right: 20px;
     line-height: 130% ;
 
 }